.home {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2rem;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.homeContent {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    width: 95%;
        margin: auto;
    justify-content: center;
    align-items: center;
    animation: slideInLeft 1s ease-in-out;
}
.homeImg {
    animation: slideInRight 1s ease-in-out;
}
.title {
    font-size: 2rem;
}

.homeBtn {
    display: flex;
    gap: 1rem;
}

@media screen and (max-width: 768px) {
    .home {
        grid-template-columns: 1fr;
        background-image: url("/branding/home-asset.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* reduce visibility */
        background-color: black;
    }

    .homeImg {
        display: none;
    }
}
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}