/*
Root color variables are based on the brand book
of the FEU Tech ACM A.Y 2022- 2023.

Refer to `public/branding/` directory for more information.
For questions, contact the Creative Director: John Felix Agda

 */
:root {
	--retro-black: #090909;
	--retro-purple: #7529c5;
	--retro-yellow: #e9a222;
	--retro-orange: #f46006;
	--retro-white: #dfdfdf;

	--color: var(--retro-white);
	--color-heading: var(--retro-orange);
	--color-subheading: var(--retro-yellow);

	--bs-down: 0px 4px 8px 0px var(--accent-purple);
	--bs-top: 0px -4px 8px 0px var(--accent-purple);
	--bs-left: -4px 0px 8px 0px var(--accent-purple);
	--bs-right: 4px 0px 8px 0px var(--accent-purple);
	--bs-full: 0px 0px 8px 0px var(--accent-purple);

	--bg: var(--retro-black);
	--accent-purple: var(--retro-purple);
	--alpha-purple: #7529c566;
	--font-size: 1rem;
	--line-height: 1.6rem;

	--ff-heading: 'Monument Extended', sans-serif;
	--ff-subheading: Montserrat, sans-serif;
	--ff-body: 'Sina Nova', sans-serif;
	--color-highlight: var(--retro-orange);

	--tr: all 200ms ease-in-out;
}

::-moz-selection,
::selection,
::target-text {
	background: var(--accent-purple);
	color: var(--color);
}

::-webkit-scrollbar-track {
	background: 0;
}

::-webkit-scrollbar-thumb {
	background: var(--accent-purple);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--alpha-purple);
}

::-webkit-scrollbar {
	height: 1vh;
	width: 1vh;
}

*,
::after,
::before {
	box-sizing: border-box;
}

*,
html {
	margin: 0;
	padding: 0;
}

html {
	scrollbar-color: var(--accent-purple) transparent;
	scrollbar-width: thin;
}

body {
	background: var(--bg);
	color: var(--color);
	font-family: var(--ff-body);
	caret-color: var(--accent-purple);
	font-size: var(--font-size);
	line-height: var(--line-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--ff-heading);
	color: var(--color-heading);
	font-weight: 400;
}

a,
button {
	all: unset;
	cursor: pointer;
	transition: var(--tr);
}

a {
	color: var(--color-highlight);
}

img {
	max-width: 100%;
}

/* custom styles*/
/* custom styles*/
/* custom styles*/
/* custom styles*/

.btnPurple {
	border: 2px solid var(--accent-purple);
	padding: 0.5rem 1rem;
	border-radius: 0.2rem;
}

.btnPurple:is(:hover, :focus) {
	background: var(--accent-purple);
}

.btnWhite {
	border: 2px solid var(--color);
	padding: 0.5rem 1rem;
	border-radius: 0.2rem;
}

.btnWhite:is(:hover, :focus) {
	/* background: var(--color);
	color: var(--bg); */
	/* make it glow */
	box-shadow: 0 0 0 0.2rem var(--color);
	/* text too */
}

.btnWhite:is(:hover, :focus) {
	background: var(--color);
	color: var(--bg);
}

.omitFromMobile {
	display: none;
}

@media screen and (min-width: 768px) {
	.omitFromMobile {
		display: inline-block;
	}
}