.nav {
    align-items: center;
    background: var(--bg-black);
        border-top: 3px solid var(--accent-purple);
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    width: 100%;
}

.logoCtr,
.linkCtr {
    align-items: center;
    display: flex;
    justify-content: safe center;
}

.linkCtr {
    display: flex;
    overflow-x: auto;
}
.linkCtr a {
    padding: 0 1rem;
    width: 100%;
    text-align: center;
}

.orgName {
    color: var(--color-highlight);
    transition: var(--tr);
}
.orgName:where(:hover, :focus) {
    text-shadow: 0 0 1rem var(--retro-orange);
}
.menuContainer {
    display: none;
}

@media screen and (max-width: 768px) {
    .linkCtr a {
        padding: 1rem 0;
    }
    .linkCtr {
        background: var(--bg-black);
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        left: 0;
        position: fixed;
        top: 0;
        z-index: 10;
    }

    .menuContainer {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        z-index: 10;
    }

    .toggled {
        background: var(--bg-black);
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
    }

    .toggled {
        width: 100%;
    }

    .untoggled {
        width: 0;
    }

    .menuLines {
        background: var(--accent-purple);
        border-radius: 500px;
        height: 6px;
        width: 35px;
    }
}


@media screen and (max-width: 480px) {
    .links {
        display: none;
    }
}
